/*
*	公用的样式/组件
*   c_开头为公用样式名， cp_开头为组件样式
*/

@import "variables";
@import "media-queries";
@import "mixin";
@import "function";
@import "animation";
@import "reset";
@import "icons";
@import "sprite";

//----------行高----
.c_lineH1{
  line-height: 1 !important;
}
.c_lineH1h{
  line-height: 1.5 !important;
}
.c_lineH2{
  line-height: 2 !important;
}
.c_lineH2h{
  line-height: 2.5 !important;
}
//--------color---
//.c_green{
//  //color: $mygreen !important;
//}

//------定位----
.c_pos_rel{
  position: relative;
}
.c_pos_abs{
  position: absolute;
}

.c_text_left{
  text-align: left !important;
}
.c_text_right{
  text-align: right !important;;
}
.c_text_center{
  text-align: center !important;;
}
.c_text_justify{
  text-align: justify !important;;
}
.c_text_ellipsis{
  @extend %ellipsis;
}
.c_text_indent{
  text-indent: 2em;
}
.c_v_mid{
  vertical-align: middle;
}
.c_f_l{
  float: left;
}
.c_f_r{
  float: right;
}
.c_font_x{
  font-size: px2rem($fontX);
}
.c_font_s{
  font-size: px2rem($fontS);
}
.c_font_m{
  font-size: px2rem($fontM);
}
.c_font_l{
  font-size: px2rem($fontL);
}
.c_p_t{
  padding-top: $baseGap;
}
.c_p_b{
  padding-bottom: $baseGap;
}
.c_p_l{
  padding-left: $baseGap;
}
.c_p_r{
  padding-right: $baseGap;
}
.c_m_t{
  margin-top: $baseGap;
}
.c_m_b{
  margin-bottom: $baseGap;
}
.c_m_l{
  margin-left: $baseGap;
}
.c_m_r{
  margin-right: $baseGap;
}
.c_hide{
  display: none !important;
}
.c_bg{
  background: $bgColor;
}
//-------按钮----
.c_btn{
  display: inline-block;
  padding: 0 px2rem(12px);
  text-align: center;
  border: 1px solid $borderColor;
  border-radius: px2rem($radiusBase);
  vertical-align: middle;
  white-space: nowrap;
}

.c_btn_x{
  height: px2rem(36px);
  line-height: px2rem(36px);
  font-size: px2rem($fontX);
}
.c_btn_s{
  height: px2rem(42px);
  line-height: px2rem(42px);
  font-size: px2rem($fontS);
}
.c_btn_m{
  height: px2rem(48px);
  line-height: px2rem(48px);
  font-size: px2rem($fontM);
}
.c_btn_l{
  height: px2rem(54px);
  line-height: px2rem(54px);
  font-size: px2rem($fontL);
}
.c_btn_default{
  color: $textColor;
  background-color: $white;
  border-color: $gray;
}
.c_btn_primary{
 color: $primary;
  background-color: $white;
  border-color: $primary;
}

//-----公共input的样式---
.c_inp{
  width: 100%;
  background-color: $bgColor;
  border: 1px solid $borderColor;
}
.c_inp_no{
  width: 100%;
  background-color: transparent;
  border: none;
}
.c_inp_ex{
  width: 5em;
}


//----文本段落----
.c_p{
  text-indent: -2em;
  padding-left: 2em;
}
//-----加成内容-----
.c_strong{
  font-weight: bold;
}

//---两列中自适应列的内容, 里面的内容不支持不换行---
.c_cell_con{
  display: table-cell;
  width: 2000px;
}

//---绝对定位右侧---
.c_pos_right{
  position: absolute;
  top: 0;
  right: 1rem;
  height: 100%;
  display: flex;
  align-items: center;
}

//------display table---
.c_display_table{
  display: table;
  width: 100%;
}
//------display table cell---
.c_display_cell{
  display: table-cell;
}

//警告样式
.c_flash{
  position: fixed;
  top : 50%;
  left: 50%;
  background-color: rgba(0, 0, 0, .8);
  color: $white;
  z-index: $zIndexWarn;
  width: px2rem(500px);
  margin-left: px2rem(-250px);
  line-height: px2rem(40px);
  padding: px2rem(10px) px2rem(10px) px2rem(10px) px2rem(10px);
  border-radius: 4px;
  text-align: center;
}
//--------去掉border--
.c_no_border_b{
  border-bottom: none !important;
}
.c_no_border_t{
  border-top: none !important;
}
//-----flex横排---
.cp_flex_row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}
.cp_flex_item{
  flex: 1;
  text-align: center;
}
//----图标旁边的文字----
.cp_icon_text{
  display: inline-block;
  vertical-align: middle;
}

//----弹出框----
.cp_confirm_box{
  position: fixed;
  z-index: $zIndexConfirm;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .2);
}
.cp_confirm_flex{
  position: relative;
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cp_confirm_con{
  font-size: px2rem(36px);
  border-radius: px2rem(10px);
  background: $bgColor;
}
.cp_confirm_body{
  text-align: center;
  padding: 1rem;
}
.cp_confirm_btn{
  border-top: 1px solid $borderColor;
  display: flex;
  .btn{
    padding: 0 2rem;
    flex: 1;
    text-align: center;
    line-height: px2rem(88px);
    border-right: 1px solid $borderColor;
    white-space: nowrap;
    &:last-child {
      border-right: none;
    }
  }
}
.cp_confirm_title{
  line-height: px2rem(88px);
  text-align: center;
  border-bottom: 1px solid $borderColor;
}


//-----带右侧tip的标题-----
.cp_title_hasTip{
  display: flex;

  .c_con{
    flex: 1;
    @extend %ellipsis;
  }

  .c_tip{
    float: right;
  }
}


.cp_alertMsg{
  position: fixed;
  top : 50%;
  left: 50%;
  background-color: rgba(0,0,0,.8);
  color: #ffffff;
  z-index: 9999998;
  width: px2rem(400px);
  margin-left: px2rem(-200px);
  line-height: px2rem(40px);
  padding: px2rem(10px) px2rem(10px) px2rem(10px) px2rem(10px);
  border-radius: 4px;
  text-align: center;
}

//----banner---
.cp_banner{
  position: relative;
  width: 100%;
  z-index: 5;
  height: 0;
  padding-top: 46.875%;
  overflow: hidden;
}
.cp_banner-list{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .item{
    float: left;
    height: 100%;
    width: 100%;
  }

  img{
    width: 100%;
    height: 100%;
  }
}

.cp_banner-dot{
  position: absolute;
  z-index: 11;
  bottom: .5rem;
  width: 100%;
  text-align: center;

  .item{
    margin: 2px;
    display: inline-block;
    width: .5rem; //奇数圆角不够圆
    height: .5rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, .5);
    @media screen and (min-width: 320px){
      width: 6px;
      height: 6px;
    }
    @media screen and (min-width: 375px){
      width: 8px;
      height: 8px;
    }
    @media screen and (min-width: 414px){
      width: 10px;
      height: 10px;
    }

    &.cur{
      background-color: rgba(255, 255, 255, 1);
    }
  }
}

//---------cp_nav-------
.cp_nav{
  position: fixed;
  z-index: 6;
  bottom: 0;
  left: 0;
  width: 100%;
  line-height: px2rem($navHeight);
  border-top: 1px solid $borderColor;
  background-color: $white;
  display: flex;
}