%icon_url{
    background-image: url("../images/icons/sprite.png");
}

$iconWidth : 491px;

.ui-icon-back {
    background-position: px2rem(-431px) px2rem(-140px);
}
%ui-icon-back {
    background-position: px2rem(-431px) px2rem(-140px);
}
.ui-icon-discuss {
    background-position: px2rem(-280px) px2rem(-322px);
}
%ui-icon-discuss {
    background-position: px2rem(-280px) px2rem(-322px);
}
.ui-icon-dzcLogo {
    background-position: px2rem(0px) px2rem(-241px);
}
%ui-icon-dzcLogo {
    background-position: px2rem(0px) px2rem(-241px);
}
.ui-icon-eyes01 {
    background-position: px2rem(-431px) px2rem(-210px);
}
%ui-icon-eyes01 {
    background-position: px2rem(-431px) px2rem(-210px);
}
.ui-icon-eyes02 {
    background-position: px2rem(-264px) px2rem(-241px);
}
%ui-icon-eyes02 {
    background-position: px2rem(-264px) px2rem(-241px);
}
.ui-icon-gou {
    background-position: px2rem(-361px) px2rem(0px);
}
%ui-icon-gou {
    background-position: px2rem(-361px) px2rem(0px);
}
.ui-icon-help-white {
    background-position: px2rem(-361px) px2rem(-70px);
}
%ui-icon-help-white {
    background-position: px2rem(-361px) px2rem(-70px);
}
.ui-icon-help {
    background-position: px2rem(-361px) px2rem(-140px);
}
%ui-icon-help {
    background-position: px2rem(-361px) px2rem(-140px);
}
.ui-icon-home-white {
    background-position: px2rem(-361px) px2rem(-210px);
}
%ui-icon-home-white {
    background-position: px2rem(-361px) px2rem(-210px);
}
.ui-icon-home {
    background-position: px2rem(0px) px2rem(-322px);
}
%ui-icon-home {
    background-position: px2rem(0px) px2rem(-322px);
}
.ui-icon-info {
    background-position: px2rem(-70px) px2rem(-322px);
}
%ui-icon-info {
    background-position: px2rem(-70px) px2rem(-322px);
}
.ui-icon-like {
    background-position: px2rem(-140px) px2rem(-322px);
}
%ui-icon-like {
    background-position: px2rem(-140px) px2rem(-322px);
}
.ui-icon-local {
    background-position: px2rem(-210px) px2rem(-322px);
}
%ui-icon-local {
    background-position: px2rem(-210px) px2rem(-322px);
}
.ui-icon-min {
    background-position: px2rem(-194px) px2rem(-241px);
}
%ui-icon-min {
    background-position: px2rem(-194px) px2rem(-241px);
}
.ui-icon-more {
    background-position: px2rem(-350px) px2rem(-322px);
}
%ui-icon-more {
    background-position: px2rem(-350px) px2rem(-322px);
}
.ui-icon-mycenter-white {
    background-position: px2rem(-431px) px2rem(0px);
}
%ui-icon-mycenter-white {
    background-position: px2rem(-431px) px2rem(0px);
}
.ui-icon-mycenter {
    background-position: px2rem(-431px) px2rem(-70px);
}
%ui-icon-mycenter {
    background-position: px2rem(-431px) px2rem(-70px);
}
.ui-icon-nolist {
    background-position: px2rem(0px) px2rem(0px);
}
%ui-icon-nolist {
    background-position: px2rem(0px) px2rem(0px);
}
.ui-icon-norecord {
    background-position: px2rem(-180px) px2rem(0px);
}
%ui-icon-norecord {
    background-position: px2rem(-180px) px2rem(0px);
}
.ui-icon-plus {
    background-position: px2rem(-431px) px2rem(-280px);
}
%ui-icon-plus {
    background-position: px2rem(-431px) px2rem(-280px);
}
.ui-icon-progress_status_green {
    background-position: px2rem(-374px) px2rem(-392px);
}
%ui-icon-progress_status_green {
    background-position: px2rem(-374px) px2rem(-392px);
}
.ui-icon-progress_status_yellow {
    background-position: px2rem(-280px) px2rem(-392px);
}
%ui-icon-progress_status_yellow {
    background-position: px2rem(-280px) px2rem(-392px);
}
.ui-icon-unlike-gray {
    background-position: px2rem(-140px) px2rem(-392px);
}
%ui-icon-unlike-gray {
    background-position: px2rem(-140px) px2rem(-392px);
}
.ui-icon-unlike {
    background-position: px2rem(-70px) px2rem(-392px);
}
%ui-icon-unlike {
    background-position: px2rem(-70px) px2rem(-392px);
}
.ui-icon-zan {
    background-position: px2rem(0px) px2rem(-392px);
}
%ui-icon-zan {
    background-position: px2rem(0px) px2rem(-392px);
}
.ui-icon-zaned {
    background-position: px2rem(-210px) px2rem(-392px);
}
%ui-icon-zaned {
    background-position: px2rem(-210px) px2rem(-392px);
}


.ui-icon60, .ui-icon40, #headRightIcon{
    display: inline-block;
    margin: auto;
    vertical-align: middle;
    width: px2rem(60px);
    height: px2rem(60px);
    @extend %ui-icon-url;
    background-repeat: no-repeat;
    background-size: px2rem($iconWidth) auto;
}
.ui-icon40{
    transform: scale(0.666667);
    margin-top: px2rem(-10px);
    margin-bottom: px2rem(-10px);
}
